.App-logo {
  animation: App-logo-spin infinite 20s linear;
  height: 40vmin;
  pointer-events: none;
}

.App-header {
  background-color: #282c34;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

.blocklyToolboxDiv{
  background-color: #282c34;
}

.codearea{
  height: 100%;
  width: 100%;
  bottom: 0;
}

.blocklyDiv, .blocklyDiv2 {
  height: 50%;
  width: 50%;
  position: absolute;
  bottom: 0;
}

.blocklyDiv2{
  margin-left: 50%;
}

.button {
  background-color: #008bba99;
  color: #ffffff;
  width: 100px;
  height: 30px;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
